@model IEnumerable<IEXTrading.Models.Company>

@{
    ViewData["Title"] = "Portfolio Selection";
}

<h2>Portfolio Selection</h2>
<hr />

<div>
    <p>
        The followings are top five stocks. 
        <br />
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <br />
    ------------------------------------------------------------------------------------------------------
    <br />
    Solution Approach:
    <p>
        In order to select the top five stocks we employed <a href="https://en.wikipedia.org/wiki/Modern_portfolio_theory">Modern Portfolio Optimization</a>.
        For simplicity, we assumed that the weights, meaning w_ij, are all equal to one. Also, we assumed that the correlation coefficient is equal to zero for all i \ne j.
        Using these assumptions, the goal is to maximize the return of the portfolio  while minimizing the total variance of the portfolio.
        A heuristic solution approach for solving such an optimization problem is to compute the ratio of expected return to the standard deviation for each stock.
        We used this approach and sorted the ratios in non-decreasing order and reported the top five ones.
        <br />
    </p>
</div>

